$primary:   #06D6A0;
$principal:   #06D6A0;
$principal20:   #06D6A020;
$principal50:   #06D6A050;
$secondary: #ff411f;
$light:     #eeeeee;
$dark1:     #0c0c11;
$dark2:     #171A1F;
$dark3:     #303030;
$dark4:     #404244;
$title:       "Poppins", sans-serif;
$title-w:     700;